header {
    display: block;
    padding: 0.8rem;
    color: white;
    background: #F92424;
    font-weight: bold;
    text-align: left;
    font-size: 0.8rem;
    overflow: hidden;
    position: relative;
    width: 100%;
}

header #show-path{
    float: left;
    text-align: left;
    display: flex;
}

header #extra {
    display: block;
    float: right;
}

.header {
    padding: 3px;
    display: inline-flex;
}

div .header{
    font-weight: bold;
}

#logout {
    margin-right: 2rem;
}